.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    color: white;
    
  }
  
  .product-card {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .product-image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    border-radius: 20px;
    
  }
  .glava h2 {
    color: white;
    /* border-radius: 20px; */
  }